---
layout: null
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

        <title>Talks</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">

                    <h1>Bayesian phylogenetics lectures</h1>

                    <p>This page contains links to a module of lectures on phylogenetics and Bayesian phylogenetics
                       prepared by Alexei Drummond and Tim Vaughan.</p>
                      
                    <p>Overview figure: <a href="phylogenetics-flow.png">Phylogenetics flow diagram</a></p>
                    
                    <h3>Introduction to sequence analysis</h3> 
                       
                    <ul>
                        {% assign lectureIdx = 0 %}
                        {% assign intro_lectures = site.data.lectures |  where:'section', "introductionSA" %}
                        {% for lecture in intro_lectures %}

                        {% assign lectureURL = "/" |append: lecture.folder | append: "/" %}

                        {% assign found = false %}
                        {% for page in site.pages %}
                        {% if page.url == lectureURL %}
                        {% assign found = true %}
                        {% endif %}
                        {% endfor %}

                        <li><b>
                        {% if found %}
                        <a href="{{site.baseurl}}{{lectureURL}}">{{lecture.title}}</a>
                        {% else %}
                        {{lecture.title}}
                        {% endif %}
                        </b>
                        {% if lecture.date %}
                        ({{lecture.date | date: "%-d %B %Y"}})
                        {% else %}
                        {% endif %}
                        </li>

                        {% endfor %}
                    </ul>
                    
                    <h3>Introduction to phylogenetics</h3> 
                       
                    <ul>
                        {% assign lectureIdx = 0 %}
                        {% assign intro_lectures = site.data.lectures |  where:'section', "introduction" %}
                        {% for lecture in intro_lectures %}

                        {% assign lectureURL = "/" |append: lecture.folder | append: "/" %}

                        {% assign found = false %}
                        {% for page in site.pages %}
                        {% if page.url == lectureURL %}
                        {% assign found = true %}
                        {% endif %}
                        {% endfor %}

                        <li><b>
                        {% if found %}
                        <a href="{{site.baseurl}}{{lectureURL}}">{{lecture.title}}</a>
                        {% else %}
                        {{lecture.title}}
                        {% endif %}
                        </b>
                        {% if lecture.date %}
                        ({{lecture.date | date: "%-d %B %Y"}})
                        {% else %}
                        {% endif %}
                        </li>

                        {% endfor %}
                    </ul>
                    
                    <h3>Bayesian phylogenetics</h3> 

                    <ul>
                        {% assign lectureIdx = 0 %}
                        {% assign bayes_lectures = site.data.lectures |  where:'section', "bayesian_phylo" %}
                        {% for lecture in bayes_lectures %}

                        {% assign lectureURL = "/" |append: lecture.folder | append: "/" %}

                        {% assign found = false %}
                        {% for page in site.pages %}
                        {% if page.url == lectureURL %}
                        {% assign found = true %}
                        {% endif %}
                        {% endfor %}

                        <li><b>
                        {% if found %}
                        <a href="{{site.baseurl}}{{lectureURL}}">{{lecture.title}}</a>
                        {% else %}
                        {{lecture.title}}
                        {% endif %}
                        </b>
                        {% if lecture.date %}
                        ({{lecture.date | date: "%-d %B %Y"}})
                        {% else %}
                        {% endif %}
                        </li>

                        {% endfor %}
                    </ul>

                    <h3>Advanced topics in Bayesian phylogenetics</h3> 

                    <ul>
                        {% assign lectureIdx = 0 %}
                        {% assign advanced_lectures = site.data.lectures |  where:'section', "advanced" %}
                        {% for lecture in advanced_lectures %}

                        {% assign lectureURL = "/" |append: lecture.folder | append: "/" %}

                        {% assign found = false %}
                        {% for page in site.pages %}
                        {% if page.url == lectureURL %}
                        {% assign found = true %}
                        {% endif %}
                        {% endfor %}

                        <li><b>
                        {% if found %}
                        <a href="{{site.baseurl}}{{lectureURL}}">{{lecture.title}}</a>
                        {% else %}
                        {{lecture.title}}
                        {% endif %}
                        </b>
                        {% if lecture.date %}
                        ({{lecture.date | date: "%-d %B %Y"}})
                        {% else %}
                        {% endif %}
                        </li>

                        {% endfor %}
                    </ul>
                    
                    <h3>Programming</h3> 
                       
                    <ul>
                        {% assign lectureIdx = 0 %}
                        {% assign programming_lectures = site.data.lectures |  where:'section', "programming" %}
                        {% for lecture in programming_lectures %}

                        {% assign lectureURL = "/" | append: lecture.folder | append: "/" %}

                        {% assign found = false %}
                        {% for page in site.pages %}
                        {% if page.url == lectureURL %}
                        {% assign found = true %}
                        {% endif %}
                        {% endfor %}

                        <li><b>
                        {% if found %}
                        <a href="{{site.baseurl}}{{lectureURL}}">{{lecture.title}}</a>
                        {% else %}
                        {{lecture.title}}
                        {% endif %}
                        </b>
                        {% if lecture.date %}
                        ({{lecture.date | date: "%-d %B %Y"}})
                        {% else %}
                        {% endif %}
                        </li>

                        {% endfor %}
                    </ul>


                </div>
            </div>
        </div>

	<a href="phylogenetics-flow.png"><img src="phylogenetics-flow.png" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
"></a>

        
    </body>
</html>
